@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: #14b8a6;
    --background: #f3f3f3;
    --pure-background: #fff;
    --pure-text: #000;
    --sub-text: #222;
    --line-color: #dfdfdf;
    --paragraph: #666666;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --radius: 0.5rem;
  }

  .dark {
    --background: #000;
    --pure-background: #0f0f0f;
    --pure-text: #fff;
    --sub-text: #eee;
    --line-color: #1c1c1c;
    --paragraph: #aaa;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  cursor: none !important;
}

/* =============== Rules =============== */
html {
  scroll-behavior: smooth;
}

img {
  user-select: none;
  pointer-events: none;
}

section {
  position: relative;
  min-height: 100vh;
  background-color: var(--background);
  padding-bottom: 192px;
  z-index: 20;
}

p {
  color: var(--paragraph);
  line-height: 1.6;
}

a.active svg {
  color: white;
}

html.dark a.active svg {
  color: black;
}

li {
  list-style: none;
}
/* =============== Rules =============== */
