@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: #d946ef;

    --background: #f0f0f0;
    --pure-background: #fff;
    --pure-text: #000;
    --line-color: #eee;
    --paragraph: #666666;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --strock: 1px;
  }

  .dark {
    --background: #0f0f0f;
    --pure-background: #000;
    --pure-text: #fff;
    --line-color: #141414;
    --paragraph: #999;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  cursor: none !important;
}

/* =============== Rules =============== */
html {
  scroll-behavior: smooth;
}

img {
  user-select: none;
  pointer-events: none;
}

section {
  position: relative;
  min-height: 100vh;
  background-color: var(--background);
  padding-bottom: 160px;
  z-index: 20;
}

p {
  color: var(--paragraph);
}

a.active svg {
  color: white;
}

html.dark a.active svg {
  color: black;
}

li {
  list-style: none;
}
/* =============== Rules =============== */
