@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: #84cc16;

    --background: #f7f7f7;
    --pure-background: #fff;
    --pure-text: #000;
    --line-color: #eee;
    --paragraph: #666666;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
  }

  .dark {
    --background: #0a0a0a;
    --pure-background: #000;
    --pure-text: #fff;
    --line-color: #0f0f0f;
    --paragraph: #999;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  cursor: none !important;
}
.customCursor {
  clip-path: polygon(0 100%, 0 0, 77% 64%, 29% 62%);
  transition: width 0.3s, height 0.3s, transform 0.05s;
}
@media (max-width: 450px) {
  .customCursor {
    display: none;
  }
}

.spinner {
  width: 26px;
  height: 26px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =============== Rules =============== */
html {
  scroll-behavior: smooth;
}
img {
  user-select: none;
  pointer-events: none;
}

section {
  position: relative;
  min-height: 100vh;
  background-color: var(--background);
  padding-bottom: 160px;
  z-index: 20;
}

p {
  color: var(--paragraph);
}

a.active svg {
  color: white;
}
html.dark a.active svg {
  color: black;
}
/* =============== Rules =============== */
