/* =============== Animated Icon =============== */
.iconWrapParent:hover .iconWrap .icon {
  transform: translateX(-100%) rotateY(-180deg);
}

.iconWrap {
  perspective: 500px;
}

.iconWrap .icon {
  position: relative;
  transform-style: preserve-3d;
  transition: 1s;
  transform-origin: 100% 50%;
}

.iconWrap .icon .face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  background-color: var(--main-color);
}

.iconWrap .icon .back {
  transform: rotateY(180deg);
}
/* =============== Animated Icon =============== */

/*
=
=
=
=
*/

/* =============== showAnimation =============== */
.showAnimation {
  animation: show 1s ease-in-out 1 forwards;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dotAvilability {
  animation: dot 1.5s linear infinite;
}

@keyframes dot {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
/* =============== showAnimation =============== */

/*
=
=
=
=
*/

/* =============== ticker =============== */
.sliderContainer:hover .slider {
  animation-play-state: paused;
}
.slider {
  animation: scrollY linear infinite;
}
@keyframes scrollY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - 1rem));
  }
}
/* =============== ticker =============== */

/*
=
=
=
=
*/

/* =============== hexagon =============== */
.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
/* =============== hexagon =============== */

/*
=
=
=
=
*/

/* =============== Outlined text =============== */
.outlinedText {
  text-shadow: 1px 1px 0 var(--pure-text), -1px 1px 0 var(--pure-text),
    1px -1px 0 var(--pure-text), -1px -1px 0 var(--pure-text);
}

.outlinedPureText {
  text-shadow: 1px 1px 0 var(--pure-background),
    -1px 1px 0 var(--pure-background), 1px -1px 0 var(--pure-background),
    -1px -1px 0 var(--pure-background);
}
/* =============== Outlined text =============== */
